
/*GENERALES*/
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s; }
  
  html {
      
    font-size: 12px;
    font-family: "JetBrains Mono", monospace;
    color: black;
  
    background: black;
scroll-behavior: smooth; }
    
  
body{
  background: black;
}
  section {
    background-color: #070707;
    width: 100%;
    height: auto;
    min-height: 100vh; }
  
  .centrado {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 90px; }
  
  #container > * {
    width: 100%;
    height: auto;
    background: black;
    min-height: 100vh;
    position: relative; }
  
  .header__area {
    position: fixed;
    top: 21px;
    left: 230px;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.5em; }
  
  .header__area span {
      font-size: 0.7em;
      color: black; }
      
      
      
      .grid{
        background-color: black ;
        height: auto;
        }

    footer{
      padding-top: 6rem;
    }
    main{
        height: auto;
     }
  
    /* ---------BACKGROUND-----*/
    .background{
        display: flex; 
        width: 100%;
        height: 100%;
       justify-content: center;
       position: absolute;
      }
      .background img{
        width: 80%;
        max-width: 100%;
        height: 100%;
        
      }
    
    /*HEADER*/
    header {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      z-index: 100; }
   
    header h1 {
      color: lime;
      margin-left: 10px;
      z-index: 50;
      font-family: "JetBrains Mono", monospace;
      font-weight: 600; }
      
      
    header  a {
      text-decoration: none;
      color: transparent; }
      
    header h1 a:hover {
      text-decoration: none;
      color: white; }
      
    .header__2 {
      z-index: 101;
      background-color: #070707;
      margin-bottom: 230px; }
  
      header a:hover{
        text-decoration: none;
      }
  P{
      font-size: 1.0rem;
      font-family: "jetBrains Mono", monospace;
   }
    .hover:hover::after {
      width: 100%;
      transition: width .3s; 
  }
      
    /*BOTON HAMBURGUESA*/
    .menu__lineas {
      position: fixed;
      right: 10px;
      width: 30px;
      height: auto;
      display: flex;
      flex-direction: column;
      z-index: 200;
      cursor: pointer; }
    
    .menu__lineas__linea1, .menu__lineas__linea2, .menu__lineas__linea3 {
      width: 30px;
      height: 3px;
      background-color: lime;
      transition: transform 0.5s; }
    
    .menu__lineas__linea2 {
      margin: 5px 0; }
    
    .menu__lineas__linea1B {
      transform: rotate(45deg) translate(4px, 6px); }
    
    .menu__lineas__linea2B {
      opacity: 0; }
    
    .menu__lineas__linea3B {
    
      transform: rotate(-45deg) translate(6px, -7px); }
      
.center-con p:hover{
    color: wheat;

}

.round:hover{
    border: 3px solid wheat;
    
}
.round {
    position: relative;
    border: 3px solid wheat;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 0;
    background: black;
    margin-top: 24.7rem;
    
    background-color: transparent;
}
.round p{
    margin-top: -4rem;
}
.round a{
  text-decoration: none;
  color: white;
  
}
.round p:hover{
    color: whitesmoke;
}
span:hover{
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 25px;
    background: brown;
    transition: 0.4s ease;

}
span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 25px;
    background: wheat;
    transition: 0.4s ease;  
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


    
    
      /*MENU ITEMS*/
    .menu__items {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: auto;
      min-height: 100vh;
      position: fixed;
      background-color: #070707;
      z-index: 99; }
    
    .menu__items ul {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 190;
      padding: 0;
      padding-bottom: 50px; }
        
    .menu__items ul li {
      width: 100%;
      height: 100vh;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      list-style: none; }
          
    .menu__items ul li:nth-child(1) {
      padding-top: 50px; }
          
    .menu__items ul li a {
      text-decoration: none;
      font-size: 2em;
      cursor: pointer;
      color: white;
      font-family: "JetBrains Mono", monospace;
      font-weight: 400;
      z-index: 201; }
      
  
    
    .visible {
      right: 0; }
    
    .hover::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: lime;
      transition: width .3s; }
    
    .hover:hover::after {
      width: 100%;
      transition: width .3s; 
  }
      
  #home{
      
      display: flex;
      text-align: center;
      height: auto;
      width: 100%;
  
   }
   .title {
       display: flex;
       width: 100%;
       height: auto;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background: black;
       color: white;
   }
  .title h2{
      justify-content: center;
      text-align: center;
      position: absolute;
      align-items: center;
      margin-top: -24rem;
  }
  .subtitle{
     width: 100%;
     height: auto;
     display: block;
     justify-content: center;
     flex-direction: row;
     align-items: center;
     margin-top: 12rem;
     position: relative;
  
      
      color: white;
      
  }
  .subtitle p{
      align-items: center;
      margin-top: 8rem;
  
  
  
  }
.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: black;
    margin: 1.3rem;
    

}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
    ;
    justify-content: center;
    text-align: center;
    background: black;
    margin-top: 9rem;
  
    
}
 .label{
    font-family: "JetBrains Mono", monospace;
    font-size: 1.1rem;
    font-weight: bold;
    color: lime;
    background: black;
    margin-left: -20px; }
.email{
    border-style: solid;
    border-color: violet;
    border-width: 2px;
}
.textarea:hover{
background: black;
color: white

}
.textarea{
    border-width: 2px;
    border-style: solid;
    border-color: violet;
}

.form-control{
    width: 50%;
    display: flex;
    color: black;
    background: rgb(103, 42, 103);
    align-items: center;

}

 .btn-default{
    font-family: "JetBrains Mono", monospace;
    font-size: 1.1rem;
    font-weight: bold;
    color: lime;
    margin: 0 auto;
}
.btn-default:hover{
    background: lime;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
}


form a {
    text-decoration: none;
    color: lime;

}
form a:hover{
color: white;
text-decoration: none;
}

.factura{
    margin-top: 20px;
    margin-bottom: 20px;
}
.factura:hover{
    color: violet;
  
}





/*FOOTER*/

footer {
    background: #16222A;
  background: black;
    color: white;
    margin: top -1rem;;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: lime;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  .col-md-3{
    display: inline;
  }
  .col-md-3 h4  {
    color: lime;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
    
  }
  
  .social-network a.icowWhatsapp:hover {
    background-color:green;
  }
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .col-md-3 a{
    text-decoration: none;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .social-network a.iconInstagram:hover:hover {
    background-color: tomato;
  }
  .social-network a.iconWhatsapp:hover:hover {
    background-color: green;

  }
 .fa-whatsapp:hover{
color: white;
  }
  .fa-instagram:hover{
    color: white;
      }
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }


     /* Media queries */
  @media (max-width: 400px ) { 
      .video video{
          height: 800px;
          width: 100%;
          margin-top: -7rem;
      }
      } @media (max-width: 400px ) { 
          .title h2{
              font-size: 1.4rem;
          }
          } 
          @media (max-width: 400px ) { 
              #home{
                  height: 568px;
  
                  
                  
              }
              } 
      
      