
  @mixin tamaños ($width,$height) {
    height: $height;
    width: $width;
  } 

* {
    margin: 0;
    box-sizing: border-box;
    transition: .5s; }
  
  html {
    font-size: 12px;
    font-family: "JetBrains Mono" monospace;
    color: white; }
  
  section {
    @include tamaños(100% , auto );
    background-color: black;
    min-height: 100vh; }
  
  .centrado {
   
    max-width: 1200px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 90px; }

footer{
  @include tamaños(100% , auto );
    background: black;
    margin-top: -1rem;

}
  
  #container > * {
    @include tamaños(100% , auto );
    min-height: 100vh;
    position: relative; }
  
